/* Style for all Pages */
/* Header */
#total-wrapper {
  min-height: 100%;
  margin-bottom: -55px;
}

#top {
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #fff;
    background: #fff;
    border-bottom: 2px solid #ccc; 
}

#logo {
    float: left;
    width: 250px;
    height: 90px;
    font-family: 'PT Serif Caption', serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: #231F20;    
}

/* General Body */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777777;
    background-image: url("../images/hexellence.png");
}

html, body {
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

#main-container {
    padding-top: 130px;
    min-height: calc(100vh - 70px);
  }
  
.page {
    float: left;
    width: 100%;
    max-width: 960px;
    padding: 30px;
    margin: 0 0 40px;
    background: #fff;
    border: 1px solid #ddd;
  }  

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
  }
  
h1, h2, h3, p {
    margin-bottom: 20px;
  }
  
p:last-child {
    margin-bottom: 0;
  }
  
h1, h2, h3 {
    font-family: 'PT Serif Caption', serif;
    font-weight: 700;
    color: #231F20;
  }
  
h1 {
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #ddd;
  }
  
h2, h3 {
    font-size: 18px;
  }

/* Footer */
.content-push {
  height: 55px;
}

footer {
    clear: both;
    font-size: 12px;
    color: #ccc;
    text-align: center;
    background-color: #666666;
    border-top: 5px solid #4aaaa5;
    height: 55px;
    margin: 0 auto;
  }


/* Style for Portfolio page */
img {
  width: 300px;
}

.grid {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
  }
  
.grid:nth-child(even) {
    margin-right: 40px;
  }
  
.grid img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
  }
  
.grid h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }



@media screen and (max-width: 980px) {
  #total-wrapper {
      width: 100%;
      padding: 0 auto;
      margin: 0 auto;
    }
  
  #top {
      overflow: visible;
      padding-right: 20px;
    }

  #main-container {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

@media screen and (max-width: 768px) {
  #total-wrapper {
      width: 100%;
      padding: 0 auto;
      margin: 0 auto;
    }

  #top {
      overflow: visible;
      padding-right: 20px;
    }

  #main-container {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
@media screen and (max-width: 640px) {
  #total-wrapper {
      width: 100%;
      padding: 0;
      margin: 0;
    }
  
  #top {
      position: static;
      overflow: auto;
      padding: 0;
    }

  #main-container {
      width: 100%;
      padding-top: 10px;
      padding-left: 20px;
      padding-right: 20px;
    }
    
  .pic {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .index {
      width: 100%;
      text-align: center;
      padding-bottom: 10px;
    }

  .grid {
    width: 100%;
  }
  
  #logo {
      width: 100%;
      margin: 0 auto;
    }
  }
  